// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 600;
    font-size: 19px;
    @media only screen and (min-width:$mobile){
        font-weight: 700;
        font-size: 26px;
    }
    @media only screen and (min-width:$tablet){
        font-size: 32px;
    }
    @media only screen and (min-width:$pcSmall){
        font-size: 38px;
    }
    @media only screen and (min-width:$pc){
        font-size: 48px;
    }

}

.phone-number {
    color: $blueColor;
    font-weight: 600;
	font-size: 23px;
    display: inline-block;
    position: relative;
    @media (any-hover: hover){
        &:hover{
            opacity: 0.8;
        }
    }
}

a.email {
    display: inline-block;
	color: $blueColor;
	text-decoration-line: underline;
    transition: all 0.3s ease 0s;
    font-size: 13px;
	line-height: 1.69;
    @media (any-hover: hover){
        &:hover{
            opacity: 0.7;
        }
    }
}
.call-back {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #949597;
	border-radius: 22px;
	height: 37px;
	padding: 0 22px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    &_blue {
        border-color: $blueColor;
        color: $blueColor;
    }
    @media only screen and (min-width:$tablet){
        font-size: 12px;
        padding: 0 20px;
        height: 35px;
    }
    @media only screen and (min-width:$pc){
        font-size: 13px;
    }
    @media only screen and (any-hover: hover){
        &:hover{
            background: #949597;
            color: #fff;
        }
        &_blue:hover {
            background: $blueColor;
        }
    }
}
//====================================================================================================
.social-list {
	display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    
	// .social-list__item
	&__item {
		// margin: 3.91px;
        margin: 3.91px 3.1px;
		width: 28px;
		height: 28px;
		background: $snowColor;
		border-radius: 50%;
        color: #fff;
        position: relative;
        transition: all 0.3s ease 0s;
        svg {
            fill: #fff;
        }
        svg,
        &::before{
            font-size: 14px;
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &_yandex {
            background:#FFCC00;
        }
        &_instagram {
            background:linear-gradient(181.45deg, #AB30A7 -2.68%, #D5223E 98.77%);
        }
        &_ok {
            background: #FF9205;
        }
        &_youtube {
            background: #C4302B;
        }
        &_telegram {
            background: #0088CC;
        }
        &_vk {
            background:#6695BD;
        }
        &_facebook {
            background:#3B5998;
        }
        &_viber {
            background:#8F5DB7;
        }
        &_whatsapp {
            background:#25D366;
        }
        &_email {
            background: #7F9D87;
        }
        @media only screen and (min-width:$pcSmall){
            width: 32px;
            height: 32px;
        }
        @media (any-hover: hover){
            &:hover{
                opacity: 0.6;
            }
        }
	}
}

.article-page {
    p {
        line-height: 1.68;
    }
    // .content__images
	&__images {
        // padding-top: 10px;
        padding-bottom: 38px;
        @media only screen and (min-width:$mobile){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 28px;
        }
	}
    &__image {
        flex: 0 1 percent(723.3,1500);
        display: none;
        &:first-child {
            display: block;
        }
        @media only screen and (min-width:$mobile){
            display: block;
            &:nth-child(1n+3) {
                @include adaptiveValue("padding-top",53,24,1870,768);
            }
        }
    }
	// .content__image
	&__image-ibg {
        padding-bottom: percent(464,723);
        img {
            border-radius: 20px;
            @media only screen and (min-width:$mobile){
                border-radius: 33px;
            }
        }
	}



    // .content-inner-page__row
	&__row {
        margin-bottom: 20px;
        @media only screen and (min-width:$tablet){
            display: flex;
            
        }
	}

	// .content-inner-page__row-image
	&__row-image {
        margin-bottom: 20px;
        img{
            width: 100%;
            border-radius: 8px;
        }
        @media only screen and (min-width:$tablet){
            flex: 0 1 560px;
            padding-right: 32px;
        }
	}

	// .content-inner-page__row-text
	&__row-text {
        @media only screen and (min-width:$tablet){
            padding-top: 5px;
            flex: 0 1 560px;
        }
	}
}


//====================================================================================================
.contacts-block {
    display: flex;
    flex-direction: column;
	align-items: center;
    @media only screen and (min-width:$tablet){
        align-items: end;
        padding-right: 5px;
    }
	
    // .contacts-block__body
    &__body {
        text-align: center;
    }
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1;
        margin-bottom: 5px;
		// color: #949597;
        color: #fff;
        @media only screen and (min-width:$tablet){
            font-size: 13px;
            // .dark & {
			// 	color: #fff;
			// }
        }
	}
	&__call {
		font-weight: 600;
		display: block;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                opacity: 0.7;
            }
        }
        @media only screen and (min-width:$pcSmall){
            font-size: 22px;
            line-height: 1
        }
        @media only screen and (min-width:$pc){
            font-size: 26px;
        }
	}
    .contacts-block__email {
        text-decoration: underline;
    }
	&__email {
		font-weight: 400;
		font-size: 13px;
		line-height: 1.69;
		color: #fff;
		align-items: center;
		text-decoration-line: underline;
	}
    @media (min-width:$mobile){
        &__body {
            text-align: right;
        }
    }
}
//====================================================================================================
.slider-dotts {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
        transition: all 0.3s ease 0s;
        flex: 0 0 7px;
        height: 7px;
        width: 7px;
        border-radius: 3.5px;
        background-color: #EDEEE9;
        margin: 0 3.5px;
        cursor: pointer;
    }
    .swiper-pagination-bullet-active {
        flex: 0 0 32.2px;
        background-color: $yellowColor;
    }
}

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================
