@media only screen and (min-width:$mobile){
}
@media only screen and (min-width:$tablet){
}
@media only screen and (min-width:$pcSmall){
}
@media only screen and (min-width:$pc){
}

//====================================================================================================

main {
    padding-top: 51px;
    @media only screen and (min-width:$tablet){
        padding-top: 0;
    }
}
.page {
    
    // .page__main-slider
    &__main-slider {
    }

    // .page__about
    &__about {
    }

    // .page__content
    &__content {
    }
}
.main-slider {
    overflow: hidden;
    position: relative;
    @media (any-hover: hover){
        &:hover{
            .controls-main-slider__arrow {
                transform: translate(0);
                opacity: 0.82;
            }
        }
    }
    // .main-slider__slider
    &__slider {
    }

    // .main-slider__swiper

    &__swiper {
    }

    // .main-slider__slide

    &__slide {
        width: 100%;
    }

    // .main-slider__dotts
    &__dotts {
        position: absolute;
        transform: translateX(-50%);
        bottom: 25px;
        left: 50%;
        @media only screen and (min-width:$mobile){
            .swiper-pagination-bullet {
                flex: 0 0 9px;
                height: 9px;
                width: 9px;
                border-radius: 4.5px;
            }
            .swiper-pagination-bullet-active {
                flex: 0 0 41.4px;
            }
        }
        @media only screen and (min-width:$tablet){
            bottom: 36px;
        }
        @media only screen and (min-width:$pcSmall){
            bottom: 31px;
        }
    }

    // .main-slider__controls
    &__controls {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.slide-main-slider {
    height: 100%;
    padding: 0 10px;
    &::before{
        content:'';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.4;
    }
    // .slide-main-slider__content
    &__content {
        padding-top: 42px;
        padding-bottom: 108px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 592px;
        margin: 0 auto;
        @media only screen and (min-width:$mobile){
            padding-top: 34px;
            padding-bottom: 79px;
        }
        @media only screen and (min-width:$tablet){
            padding-top: 57px;
            padding-bottom: 93px;
            // transition: all 0.3s ease 0s;
            .dark & {
                padding-top: 200px;
            }
        }
        @media only screen and (min-width:$pcSmall){
            padding-top: 57px;
            padding-bottom: 155px;
        }
    }

    // .slide-main-slider__label

    &__label {
        background: $yellowColor;
        border-radius: 10px 10px 10px 2px;
        padding: 0 18px;
        height: 26px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        font-size: 12px;
        margin-bottom: 21px;
        @media only screen and (min-width:$mobile){
            height: 28px;
            font-size: 13px;
            margin-bottom: 14px;
        }
        @media only screen and (min-width:$tablet){
            height: 35px;
            font-size: 14px;
            margin-bottom: 22px;
        }
        
        @media only screen and (min-width:$pcSmall){
            font-size: 15px;
            padding: 0 22px;
            margin-bottom: 24px;
        }
        @media only screen and (min-width:$pc){
            margin-bottom: 16px;
        }

    }

    // .slide-main-slider__title
    &__title {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 14px;
        @media only screen and (min-width:$mobile){
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 18px;
        }
        @media only screen and (min-width:$tablet){
            font-size: 56px;
            margin-bottom: 22px;
        }
        @media only screen and (min-width:$pcSmall){
            font-size: 60px;
            margin-bottom: 23px;
        }
        @media only screen and (min-width:$pc){
            font-size: 70px;
            margin-bottom: 19px;
        }
        
    }

    // .slide-main-slider__text
    &__text {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.54;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 23px;
        width: 300px;
        @media only screen and (min-width:$mobile){
            font-size: 17px;
            line-height: 1.41;
            width: 450px;        
        }
        @media only screen and (min-width:$tablet){
            width: 515px;
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 41px;
        }
        @media only screen and (min-width:$pcSmall){
            font-size: 21px;
            line-height: 1.43;
            margin-bottom: 48px;
        }
        @media only screen and (min-width:$pc){
            font-size: 23px;
            line-height: 1.3;
            margin-bottom: 50px;
        }
    }

    // .slide-main-slider__buttons
    &__buttons {
        display: flex;
        // padding-bottom: 29px;
    }

    // .slide-main-slider__button
    &__button {
        margin: 0 10px;
        @media only screen and (min-width:$mobile){
            margin: 0 20px;
        }


        // &:not(:last-child) {
        //     @include adaptiveValue("margin-right",30,20);
        // }
    }

}

.button-slider {
    min-height: 28px;
    padding: 4px 15px;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #EDEEE9;
    border: 2px solid #EDEEE9;
    border-radius: 4px;
    color: #1F1F1F;
    transition: all 0.3s ease 0s;
    @media only screen and (min-width:$mobile){
        font-weight: 600;
        min-height: 43px;
        padding: 0 30px;
        font-size: 14px;
    }
    @media only screen and (min-width:$tablet){
        min-height: 50px;
        padding: 0 35px;
        font-size: 15px;
    }
    @media only screen and (min-width:$pcSmall){
        font-size: 15px;
    }
    @media only screen and (min-width:$pc){
        height: 52px;
        font-size: 17px;
    }
    // .button-slider_no-bg
    &_no-bg {
        border: 2px solid #DAD2C7;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        
    }

    @media (any-hover: hover){
        &:hover{
            background: $yellowColor;
            border: 2px solid $yellowColor;
            color: #fff;
        }
        &_no-bg:hover {
            border: 2px solid $yellowColor;
            background: rgba(0, 0, 0, 0.4);
            color: $yellowColor;
        }

    }
}



.controls-main-slider {
    display: none;
    @media only screen and (min-width:$tablet){
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        // overflow: hidden;
        max-width: 1840px;
        padding: 0 40px;
        width: 100%;
        // .controls-main-slider__arrow
        &__arrow {
            position: relative;
            z-index: 2;
            width: 43px;
            height: 43px;
            background-color: #fff;
            opacity: 0;
            border-radius: 50%;
            transition: all 0.3s ease 0s;
            pointer-events: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before{
                font-size: 15.5px;
                color: #93989E;
                @media only screen and (min-width:$pcSmall){
                    font-size: 17.5px;
                }
            }
            // .controls-main-slider__arrow_prev
            &_prev {
                transform: translateX(-100px);
            }

            // .controls-main-slider__arrow_next
            &_next {
                transform: translateX(100px);
            }
            @media only screen and (min-width:$pcSmall){
                width: 60px;
                height: 60px;
            }
        }

        
    }
    
}

//====================================================================================================

.about {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    // min-height: 216px;
    // .about__row
    &__row {
        max-width: 1710px;
        justify-content: space-between;
        overflow: hidden;
        margin: 0 auto;
        overflow-x: auto;
        padding: 0 20px;
        * {
            outline: 0;
        }
    }
    // .about__item
    &__item {
    }
}

.item-about {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 240px;
    display: flex;
    padding-top: 29px;
    padding-bottom: 20px;
    padding-right: 25px;
    @media only screen and (min-width:$mobile){
        padding-top: 45px;
        padding-left: 21px;
        padding-bottom: 33px;
        flex-basis: 265px;
    }
    @media only screen and (min-width:$tablet){
        flex-basis: 285px;
    }
    @media only screen and (min-width:$pcSmall){
        flex-basis: 325px;
    }
    @media only screen and (min-width:$pc){
        flex-basis: 355px;
        padding-bottom: 53px;
        margin: 0 25px;
    }



    &:nth-child(1) {
        .item-about__image img {
            @include adaptiveValue("width",56,32);
            @include adaptiveValue("height",70,40);
        }
    }
    &:nth-child(2) {
        .item-about__image img {
            @include adaptiveValue("width",70,39.8);
            @include adaptiveValue("height",70,40);
        }
    }
    &:nth-child(3) {
        .item-about__image img {
            top: 10px;
            @include adaptiveValue("width",71,40.5);
            @include adaptiveValue("height",70,40);
        }
    }
    &:nth-child(4) {
        .item-about__image img {
            @include adaptiveValue("width",70,40);
            @include adaptiveValue("height",70,40);
        }
    }


    // .item-about__image
	&__image {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 54px;
        @media only screen and (min-width:$mobile){
            flex-basis: 68px;
        }
        @media only screen and (min-width:$tablet){
            flex-basis: 80px;
        }
        @media only screen and (min-width:$pcSmall){
            flex-basis: 90px;
        }
        @media only screen and (min-width:$pc){
            flex-basis: 90px;
        }
        img {
            position: relative;
            top: 20px;
        }
	}
    
    // .item-about__content
	&__content {
        flex: 1 1 auto;
	}

    // .item-about__title
    &__title {
        font-weight: 600;
        color: #1F1F1F;
        line-height: 1.43;
        margin-bottom: 10px;
        @media only screen and (min-width:$mobile){
            font-size: 15px;
            line-height: 1.33;
        }
        @media only screen and (min-width:$tablet){
        }
        @media only screen and (min-width:$pcSmall){
        }
        @media only screen and (min-width:$pc){
            font-size: 16px;
            line-height: 1.25;
        }
    }

    // .item-about__text
    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.54;
        @media only screen and (min-width:$mobile){
            font-size: 14px;
            line-height: 1.57;
        }
        @media only screen and (min-width:$tablet){
            font-size: 15px;
            line-height: 1.47;
        }
        @media only screen and (min-width:$pc){
            font-size: 16px;
            line-height: 1.38;
        }
    }
}

//====================================================================================================
.content {
    padding-top: 30px;
    padding-bottom: 40px;
    @media only screen and (min-width:$mobile){
        padding-top: 37px;
        // padding-bottom: 43px;
        padding-bottom: 51px;
    }
    @media only screen and (min-width:$tablet){
        padding-top: 42px;
        padding-bottom: 52px;
    }
    @media only screen and (min-width:$pcSmall){
        padding-top: 56px;
        padding-bottom: 77px;
    }
    @media only screen and (min-width:$pcSmall){
        padding-top: 56px;
        padding-bottom: 77px;
    }
    
    color: #1F1F1F;
    // .content__container
    &__container {
        max-width: 1500px;
        @media only screen and (min-width: $mobile) {
			padding: 0 40px;
		}
    }


    // .content__article

	&__article {
        h1 {
            margin-bottom: 18px;
            @media only screen and (min-width:$mobile){
                margin-bottom: 23px;
            }
            @media only screen and (min-width:$tablet){
                margin-bottom: 28px;
            }
            @media only screen and (min-width:$pc) {
            }
            @media only screen and (min-width:$pcSmall){
                margin-bottom: 37px;
            }
        }
        p {
            @media only screen and (min-width:$mobile){
                font-size: 15px;
                line-height: 1.67;
            }
            @media only screen and (min-width:$tablet){
                font-size: 16px;
                line-height: 1.75;
            }
            @media only screen and (min-width:$pcSmall){
                font-size: 17px;
                line-height: 1.65;
            }
            @media only screen and (min-width:$pcSmall){
                font-size: 18px;
                line-height: 1.56;
            }
    
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
	}
// .article-page {
// 		// .article-page__title
// 		&__title {
// 		}
// }
    


}
//====================================================================================================
//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================
