@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Golos";
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #55595C; // Цвет шрифта по умолчанию
$blueColor: #7099B9;
$snowColor: #EDEEE9;
$yellowColor: #FBC13B;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1500;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// @media (min-width:$mobile){
// }
// @media (min-width:$tablet){
// }
// @media (min-width:$pcSmall){
// }
// @media (min-width:$pcSmall){
// }

// Брейк-поинты
// $pc: $containerWidth+px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: 1919.98px;
$pcSmall: 1365.98px;
$tablet: 1023.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
// $mobile: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
		// opacity: 1;
	}
}
.header,
.main-slider  {
	.loaded & {
		opacity: 1;
	}
}


// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
			
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		max-width: $maxWidthContainer+px;
		box-sizing: content-box;
		padding: 0 15px;
		// @if ($maxWidthContainer>0) {
		// 	max-width: rem($maxWidthContainer);
		// 	box-sizing: content-box;
		// 	padding: 0 15px;
		// } @else {
		// 	@if ($containerPadding>0) {
		// 		padding: 0 rem(math.div($containerPadding, 2));
		// 	}
		// }
		@media only screen and (min-width: $mobile) {
			padding: 0 40px;
		}
		@media only screen and (min-width: $tablet) {	
			padding: 0 60px;
		}
		@media only screen and (min-width: $pcSmall) {
			padding: 0 60px;
			// @if ($containerPadding>0 and $maxWidthContainer>0) {
			// 	padding: 0 rem(math.div($containerPadding, 2));
			// }
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1F1F1F;
	font-weight: 700;
	// font-weight: inherit;
	// font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

h1{
    font-size: 19px;
	@media only screen and (min-width: $mobile) {
		font-size: 26px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 32px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 38px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 48px;
	}
}
h2 {
	font-size: 17px;
	@media only screen and (min-width: $mobile) {
		font-size: 24px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 30px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 32px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 36px;
	}
}
h3 {
	font-size: 16px;
	@media only screen and (min-width: $mobile) {
		font-size: 22px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 26px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 28px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 30px;
	}
}
h4 {
	font-size: 15px;
	@media only screen and (min-width: $mobile) {
		font-size: 18px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 20px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 22px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 24px;
	}
}
h5 {
	font-size: 14px;
	@media only screen and (min-width: $mobile) {
		font-size: 15px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 16px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 18px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 20px;
	}
}
h6 {
	font-size: 13px;
	&:not(:last-child) {
		margin-bottom: 12px;
	}
	@media only screen and (min-width: $mobile) {
		font-size: 14px;
	}
	@media only screen and (min-width: $tablet) {
		font-size: 15px;	
	}
	@media only screen and (min-width: $pcSmall) {
		font-size: 16px;
	}
	@media only screen and (min-width: $pc) {
		font-size: 17px;
	}
}


// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "page";
